HTTP_ADDRESS=:8084
DB_DSN=postgres://postgres:postgres@localhost:5435/offer_db?sslmode=disable

# Local host listener: localhost:29092
# Docker network listener: kafka:9092
KAFKA_BROKERS=localhost:29092

ORDER_SERVICE_URL=http://localhost:8083
USER_SERVICE_URL=http://localhost:8082
HEADER_HMAC_KEY=diploma-internal-hmac-secret-key-2026
JWT_PUBLIC_KEY_PATH=../keys/public.pem
WS_ALLOWED_ORIGIN=
LOG_LEVEL=info
